LIBVIRT_URI="qemu:///system"
VM_NAME="config-smoke-test"
VM_PRESET="ubuntu-24.04-server-smoke"
VCPUS="2"
RAM_MB="4096"
DISK_SIZE_GB="32"
NETWORK_NAME="default"
BOOT_FIRMWARE="uefi"
GRAPHICS="spice"
VIDEO_MODEL="virtio"
SNAPSHOT_NAME="fresh-install"
VM_ACCEL="kvm"

AUTOINSTALL_HOSTNAME="config-smoke-test"
AUTOINSTALL_USERNAME="ubuntu"
AUTOINSTALL_REALNAME="Smoke Test"
AUTOINSTALL_PASSWORD="ubuntu"
AUTOINSTALL_LOCALE="en_US.UTF-8"
AUTOINSTALL_KEYBOARD_LAYOUT="us"
AUTOINSTALL_TIMEZONE="UTC"
AUTOINSTALL_INSTALL_OPENSSH="1"
AUTOINSTALL_ALLOW_PW="1"

# Optional overrides:
# AUTOINSTALL_PASSWORD_HASH="$6$..."
# AUTOINSTALL_SSH_KEY_FILE="$HOME/.ssh/id_ed25519.pub"
# AUTOINSTALL_ENABLE_AUTOLOGIN="0"
# AUTOINSTALL_CONFIG_REPO_MODE="remote-clone"
# VM_ACCEL="tcg"
# FORCE_ISO_REFRESH="1"
